# Environments
.env
venv/
.venv/
env/

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt

# IDEs
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
